<!-- <div class="nav-container">
	<a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>&nbsp;&nbsp;
	<a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>&nbsp;&nbsp;
	<a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>&nbsp;&nbsp;
	<a [routerLink]="['/country']" routerLinkActive="router-link-active">Country</a>&nbsp;&nbsp;
	<a [routerLink]="['']" routerLinkActive="router-link-active">Logout</a>
</div> -->


<!-- <button (click)="callWitInterceptor()" >Call using interceptor</button>
<br>
<hr>
<button (click)="callWithoutInterceptor()" >Call without interceptor</button> -->
<div> <h1>Welcome to Home Page</h1> </div>
